.App {
  width: 100vw;
  background-color: rgb(168, 173, 182);
  display: grid;
  place-items: center;
}

.app__container {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(232, 234, 237);
  border-radius: 12px;
  padding: 32px 0;
}

.app__todoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
